:root{
  --ref-color :#374151;
  --bg-color :#111827;
  --bg-ref-color:#1F2937;
  --white-color : white;
}
body{
  background-color: var(--bg-color);
  outline: none;
  color: var(--white-color);
}
.cssColor{
  background-color: var(--ref-color) !important;
}
.fontColor{
  color: white !important;
}
.fontBold{
  font-size: 1.3rem;
  font-weight: 600;
}
.lightWhite{
  color: #908F8C;
}
.boxStyle{
  width: 30rem;
  min-width: 20rem;
}
.inputField{
  background-color: rgb(221, 218, 218);
}
input::placeholder{
  background-color: #374151 !important;
  font-size: 10px;
}
.cardBoxStyle{
  background-color: #374151;
}
.addBoxStyle{
  width: 40rem;
  min-width: 20rem;
}
.aboutPageBox{
  width: 50rem;
  margin: auto;
  font-size: 1.2rem;
}